<br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% if user.is_authenticated %}
{{user.last_name}} {{user.first_name}}님 환영합니다. 
<a class="btn btn-primary btn-lg"  href="{% url 'signout' %}">
	<h6 class="display-6">로그아웃</h6>
</a>
{% else %} 
<a class="btn btn-primary btn-lg"  href="{% url 'signup' %}">
	<h6 class="display-6">회원가입</h6>
</a>
<a class="btn btn-primary btn-lg"  href="{% url 'signin' %}">
	<h6 class="display-6">로그인</h6>
</a>
{%endif%}
{% if user.is_authenticated %}
<h4><a href="{% url 'post' %}"><글 작성하러 가기></a></h4>
{% for myapp in myapps.all %}
     <div class="container">
        <a href="{% url 'detail' myapp.id %}">
            <ins>제목: <em>{{myapp.title}}</em></ins> <!--밑줄&기울이기-->
        </a>
        <p>내용: {{myapp.body}}</p>

        <small class="text-muted">{{myapp.pub_date}}</small>
    </div>
    
{%endfor%}
 
{% else %}
<br> 
<p>로그인을 하셔야 글작성이 가능한 게시판 입니다.</p>
{% endif %}
